    <h1 style="text-align: center;">Portfolio</h1>
							<div>
			<figure>
				<img src="img/img-1.jpg" alt="money">
				<figcaption>Value of Money</figcaption>
			</figure>
			<figure>
				<img src="img/money.jpg" alt="money">
				<figcaption>Value of Money</figcaption>
			</figure>
			<figure>
				<img src="img/food1.jpg" alt="Food">
				<figcaption>GMO food1</figcaption>
			</figure>
			<figure>
				<img src="img/food2.jpg" alt="food">
				<figcaption>GMO food2</figcaption>
			</figure>
			<figure>
				<img src="img/future.jpg" alt="future city">
				<figcaption>City in 2100 </figcaption>
			</figure>
			<figure>
				<img src="img/future2.jpg" alt="future city">
				<figcaption>Future City</figcaption>
			</figure>
			</div>